:root{
  --width: 100%;
  --height: 70vh;
  --slides-qt: 8;
}

.carouselText{
  text-align: center;
  font-size: 5rem;
  text-align: center;
  color: #330E39;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.carousel{
  overflow: hidden;
}

.carousel, .carouselImage{
  width: var(--width);
  height: var(--height);
}

.carouselWrapper{
  width: calc(var(--width) * var(--slides-qt));
  height: var(--height);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex: 0 0 auto
}

.carouselImage{
  background-size: contain;
  background-repeat: repeat-x;
  transition: transform 3s ease-in-out;
}
