:root{
  --width-slider: 100%;
  --height-slider: 79vh;
  --slides-qt-slider: 5;
  --seconds-slider: 0%;
}

.slider{
    width: 100%;
    height: calc(var(--height-slider) * 1.4);
    overflow: hidden;
    position: relative;
}

.sliderBox{
    position: relative;
    width: calc(var(--width-slider) * var(--slides-qt-slider));
    height: var(--height-slider);  
    display: flex;
    align-items: stretch;
    margin-bottom: 4rem;
    flex-direction: row;
    overflow: hidden;
}

.animClass{
    transition: transform 2s;
    animation: anim-slider-1 ease-in-out 10s infinite normal forwards;
    animation-play-state: paused;
    animation-range-start: var(--seconds-slider);
}

.sliderContent{
    width: 100%;
    aspect-ratio: 1 / 1;
    margin: 0 3rem;
    transition: opacity 1s, aspect-ratio 1s, background-image 1s;
    background-image: url('../../assets/slider/no-overlay.png');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 5rem;
}

.active:hover{
    width: 100%;
    aspect-ratio: 3.06 / 2;
    background-image: url('../../assets/slider/purple-overlay.png');
}

.inactive{
    opacity: .2;
}

.buttonBox {
    position: absolute;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
}

#leftButton, #rightButton {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 2rem;
    background-color: yellow;
}

@keyframes anim-slider-1 {
	0% { transform: translateX(calc(-1 * var(--width-slider) / var(--slides-qt-slider) * .25)) }
    10% { transform: translateX(calc(-1 * var(--width-slider) / var(--slides-qt-slider) * .75)); }
    20% { transform: translateX(calc(-1 * var(--width-slider) / var(--slides-qt-slider) * .75)); }
    30% { transform: translateX(calc(-1 * var(--width-slider) / var(--slides-qt-slider) * 1.25)); }
    40% { transform: translateX(calc(-1 * var(--width-slider) / var(--slides-qt-slider) * 1.25)); }
    50% { transform: translateX(calc(-1 * var(--width-slider) / var(--slides-qt-slider) * 1.75)); }
    60% { transform: translateX(calc(-1 * var(--width-slider) / var(--slides-qt-slider) * 1.75)); }
    70% { transform: translateX(calc(-1 * var(--width-slider) / var(--slides-qt-slider) * 2.25)); }
    80% { transform: translateX(calc(-1 * var(--width-slider) / var(--slides-qt-slider) * 2.25)); }
    90% { transform: translateX(calc(-1 * var(--width-slider) / var(--slides-qt-slider) * 2.75)); }
	100% { transform: translateX(calc(-1 * var(--width-slider) / var(--slides-qt-slider) * 2.75)); }
}

.sliderInside {
    width: 100%;
    height: 100%;
    border-radius: 5rem;
}

[data-index]{
    position: relative;
    z-index: -1;
}
[data-index="0"], [data-index="5"] {
    background-color: green;
}
[data-index="1"], [data-index="6"] {
    background-color: red;
}
[data-index="2"], [data-index="7"] {
    background-color: blue;
}
[data-index="3"], [data-index="8"] {
    background-color: purple;
}
[data-index="4"], [data-index="9"] {
    background-color: white;
}

@media screen and (prefers-color-scheme: dark) {
    .active:hover {
        background-image: url('../../assets/slider/green-overlay.png');
    }
}