.slider{
    width: 100%;
    height: 1000px;
    overflow: hidden;
    position: relative;
}

.sliderBox{
    position: relative;
    width: 200%;
    height: 600px;
    display: flex;
    align-items: stretch;
    padding-bottom: 5rem;
    flex-direction: row;
    overflow: hidden;
}

.sliderContent{
    width: 600px;
    height: 600px;
    background-color: red;
    margin: 0 5rem;
}

.buttonBox {
    position: absolute;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

.leftButton, .rightButton, .openButton {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 2rem;
    background-color: yellow;
}