.menuBt{
    background: url("../../../public/MenuLight.svg");
    position: fixed;
    width: 7rem;
    height: 7rem;
    right: 1rem;
    top: 1rem;
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1000;
}

.menuBox{
    position: fixed;
    width: 100%;
    height: 100%;
    align-items: center;
    align-content: center;
    z-index: 1000;
}

.menuText{
    width: 100%;
    padding: 1.5rem 0;
    font-size: 4rem;
    text-align: center;
    color: #69007900;
    z-index: 1000;
}

.menuBox, .menuText, .menuBg{
    -webkit-transition: all .7s ease-out;
    -moz-transition: all .7s ease-out;
    -o-transition: all .7s ease-out;
    transition: all .7s ease-out;
    visibility: hidden;
    z-index: 1000;
}

.menuBox.visible, .menuText.visible{
    -webkit-backdrop-filter: blur(20px);
    -moz-backdrop-filter: blur(20px);
    -o-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    visibility: visible;
    color: #690079;
    z-index: 1000;
}

.menuBg{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(255,255,255,0);
}

.menuBg.visible{
    background-color: rgba(255,255,255,.7);
    visibility: visible;
}

@media screen and (prefers-color-scheme: dark) {
    .menuBt {
        background-image: url('../../../public/MenuDark.svg');
    }
    .menuBg.visible {
        background-color: rgba(0,0,0,.7);
    }
    .menuBox.visible, .menuText.visible {
        color: #8BCD45;
    }
}