.introDiv {
    width: 100%;
    height: 140vh;
    background-color: #690079;
    padding-bottom: 5rem;
    position: relative;
}

.introText {
    width: 45%;
    height: 61%;
    position: absolute;
    color: rgb(249, 212, 255);
    text-align: right;
    align-content: center;
    font-size: 3.3vh;
    overflow: hidden;
    left: 73%;
}

.profileImg {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 61%;
    aspect-ratio: 3 / 4;
    background-image: url('../../../assets/misc/me.jpg');
    border-radius: 5rem;
    border-width: 1rem;
    border-color: rgb(249, 212, 255);
    border-style: solid;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 25%;
}

.profileImg, .introText {
    padding: .3rem;
    top: 60%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.thisTitle {
    position: absolute;
    padding-top: 2rem;
    color: rgb(249, 212, 255);
}

.onScreen {
    animation: appear 2s ease-in-out;
}

@keyframes appear {
    to {
        opacity: 1;
    }
}

@media screen and (prefers-color-scheme: dark) {
    .thisTitle, .introText{
        color: #101010;
    }
    .introDiv {
        background-color: #8BCD45;
    }
    .profileImg {
        border-color: #101010 !important;
    }
}