.introDiv {
    width: 100%;
    height: 140vh;
    background-color: #690079;
    padding-bottom: 5rem;
    position: relative;
}

.introText {
    width: 45%;
    height: 61%;
    position: absolute;
    color: rgb(249, 212, 255);
    text-align: right;
    align-content: center;
    font-size: 3.3vh;
    overflow: hidden;
    left: 73%;
}

.holderImg {
    height: 55%;
    background-color: rgb(249, 212, 255);
    border-color: rgb(249, 212, 255);
    border-style: solid;
    position: absolute;
    width: 80rem;
    top: 50%;
    right: 43%;
    justify-items: end;
    align-content: center;
    border-radius: 4rem;
    border-width: 2rem;
    z-index: 1;
    transform: translate(-20%,-33%);
}

.profileImg {
    height: 95%;
    position: relative;
    aspect-ratio: 3 / 4;
    background-image: url('../../../assets/misc/me.jpg');
    right: 2rem;
    border-radius: 2rem;
    background-position: center;
    background-size: 150%;
    background-repeat: no-repeat;
    z-index: 2;
}

.introText {
    padding: .3rem;
    top: 60%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.thisTitle {
    position: relative;
    padding-top: 2rem;
    color: rgb(249, 212, 255);
}

@media screen and (prefers-color-scheme: dark) {
    .thisTitle, .introText{
        color: #101010;
    }
    .introDiv {
        background-color: #8BCD45;
    }
    .profileImg, .holderImg {
        border-color: #101010 !important;
    }
    .holderImg {
        background-color: #101010;
    }
}