.title{
    width: 100%;
    height: 10rem;
    font-size: 10rem;
    text-align: center;
    color: #690079;
}

@media screen and (prefers-color-scheme: dark) {
    .title{
        color: #8BCD45;
    }
}