.introDiv {
    width: 100%;
    height: 170vh;
    background-color: #690079;
    position: relative;
    overflow: hidden;
    align-content: center;
}

.introText {
    width: 45%;
    height: 61%;
    position: absolute;
    color: #ffffff;
    text-align: right;
    align-content: center;
    font-size: 3.3vh;
    overflow: hidden;
    left: 73%;
}

.flexDiv {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    column-gap: 2rem;
    row-gap: 2rem;
    width: 100%;
    height: 80%;
    align-self: center;
    align-content: center;
    justify-content: center;
    overflow: hidden;
}

.drawImg, .imgBox {
    border-radius: 5rem;
    transition: all .4s ease-in-out;
}

.drawImg {
    height: 27rem;
    aspect-ratio: 16 / 9;
    background-position: center;
    margin: 0 1rem 0 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.drawImg:hover {
    height: 29rem;
}

.imgBox {
    position: absolute;
    background: rgb(249, 212, 255);
    background: linear-gradient(180deg, rgba(249, 212, 255,0) 0%, rgba(249, 212, 255,1) 65%);
    text-align: center;
    align-content: end;
    padding-bottom: 3rem;
    text-decoration: none;
    color: #330E39;
    font-size: x-large;
    opacity: 0;
    z-index: 9;
    width: 100%;
    height: 24rem;
}

.drawImg:hover > .imgBox {
    opacity: 1;
    height: 26rem;
    font-size: xx-large;
}

#chronolight {
    background-image: url('../../../assets/misc/chronolight.png');
}

#micescape {
    background-image: url('../../../assets/misc/micescape.jpg');
}

#iconomonster {
    background-image: url('../../../assets/misc/iconomonster.jpg');
}

#imageasy {
    background-image: url('../../../assets/misc/ImageEasy.png');
}

#curriculumAI {
    background-image: url('../../../assets/misc/Curriculum-AI.png');
}

#greenPrint {
    background-image: url('../../../assets/misc/green-print.png');
}

.profileImg, .introText {
    padding: .3rem;
    top: 60%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

@media screen and (prefers-color-scheme: dark) {
    .introText{
        color: #101010;
    }
    .introDiv {
        background-color: #8BCD45;
    }
    .imgBox {
        background: rgb(16,16,16);
        background: linear-gradient(180deg, rgba(16,16,16,0) 0%, rgba(16,16,16,1) 65%);
        color: #ffffff;
    }
}